.transactionHistory {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: 1px solid rgb(197, 197, 197);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  margin-bottom: 50px;
}

.thead,
tbody {
  display: block;
}

.string,
.headString {
  display: flex;
  flex-wrap: wrap;
}

.headItem {
  flex-basis: calc(100% / 3);
  text-align: center;
  background-color: cornflowerblue;
  border: 1px solid white;
}

.item {
  flex-basis: calc(100% / 3);
  text-align: center;
  border: 1px solid white;
  text-transform: capitalize;
  padding-bottom: 10px;
  padding-top: 10px;
}

.string:nth-child(2n) {
  background-color: rgba(176, 226, 250, 0.384);
}
